google-cloud-storage>=2.0.0,<3.0.0
google-cloud-vision>=3.0.0,<4.0.0
Pillow>=9.0.0,<11.0.0
piexif>=1.1.3,<2.0.0 
ultralytics>=8.0.0 # Dla YOLOv8
# torch i torchvision zostaną zainstalowane jako zależności ultralytics
mediapipe
scikit-learn
easyocr
opencv-python
tqdm
# numpy i scipy są zwykle zależnościami innych pakietów (np. scikit-learn, opencv),
# ale można je dodać jawnie, jeśli są bezpośrednio używane i chcesz kontrolować wersje.
numpy
scipy